.container{
	background-color: white;
	
	padding: 15px;
}

.view{

}

.padded{
	padding: 15px;
}

a{
	color: black;
}

.bottom-toolbar{
	background-color: white;
	margin: 15px 0px 15px 0px;
	padding: 15px 0px 15px 0px;
	text-align: center;
}

.list{
	
	
	.list-item{
		padding: 15px 15px 15px 15px;

		border-bottom: 1px solid #ddd;

		h4{
			text-transform: uppercase;
		}	

		p{
			margin-top: 5px;			
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 90%;
			margin-left: 5%;
		}


		&.hover:hover{
			background-color: #eee;
		}
	}
}