input,textarea,select{
	outline:none;
	border:none;

	background-color: #EEEEEE;
	padding: 8px;
	font-size: 11pt;

	box-sizing: border-box; /* css3 rec */
	-moz-box-sizing: border-box; /* ff2 */
	-ms-box-sizing: border-box; /* ie8 */
	-webkit-box-sizing: border-box; /* safari3 */
	-khtml-box-sizing: border-box; /* konqueror */	

	border-radius: 5px;

	&:active{
		outline: none;
	}
	&:focus{
		background-color: #DDDDDD;
	}

	display:block;
	resize:none;
}

.input-field{
	display:block;
	position:relative;
	margin-bottom: 20px;
	
	label{
		display: block;		
	}

	input,textarea,select{
		width: 100%;
		margin: 10px 10px 10px 0%;
	}		
}

textarea{
	height: 150px;
}

.with-button{
	position:relative;
	padding-right: 40px;
	.imagebutton{
		position: absolute;
		right: 0px;
	}
}