// bower:scss
// endbower
@import 'reset';

$theGreen : #528f2d;
$theBlue : #31A5E6;

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-weight: 200;
}

$blue : #55b0ea;

h1,h2,h3,h4{
    font-weight: 100;
}

h1{
    font-size: 40pt;
}

h2{
    font-size: 30pt;
}

h3{
    font-size: 20pt;
}

h4{
    font-size: 10pt;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}

#wrapper{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    color: white;
}

.clear{
    clear:both;
}

.container{
    padding: 5%;
}

.page-title{
    text-align: center;
    padding:30px;
    text-transform: uppercase;

    span{
        font-weight: 800;
    }
}

table{
    width: 100%;
    td{
        padding: 5px;
        text-align: center;
    }

    th{
        text-align: center;
        padding: 5px;
        font-weight: bold;
        border-bottom: 1px solid #aaa;
    }
}

.icon{
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    img{
        width: 100%;
    }
}

.more{
    cursor: pointer;
    color:black;
    font-size: 32px;
}

@import 'toolbar';
@import 'input';
@import 'question';
@import 'login';