.question-type{
	margin-left: -40px;
	padding-bottom: 20px;
	font-size: 16pt;
	
	span{
		margin-right: 10px;
		font-weight: 800;
		text-transform: uppercase;
	}
}

.half{
	width: 50%;
	display: inline-block;
}


.field{
	position:relative;
	white-space:nowrap;
	cursor:pointer;

	input, textarea, select{
		margin-left: 40px;

	}

	p{
		padding: 10px;
		margin-left: 40px;
	}

	p,input,textarea, select{
		&:hover{
			color: #999;
		}
	}
}

.field-logo{
	position: absolute;
	left:0px;
	top:0px;
	width: 34px;
	height: 34px;
	img{
		width: 100%;
	}
}

.center{
	text-align:center;
}

.question-tools-container{
	position:relative;
	margin-top: 30px;
	padding-top: 15px;
	/*
	border-top: 1px solid #aaa;


	$size : 8px;
	&:before{
		content:'';
		position: absolute;
		top:-9px;
		left:50%;
		margin-left: -$size;
		border-bottom: $size solid #aaa;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
	}

	&:after{
		content:'';
		position: absolute;
		top:-8px;
		left:50%;
		margin-left: -$size;
		border-bottom: $size solid #fff;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
	}
	*/
}

.question{
	position:relative;

	.question-textcontainer{
		margin: 15px;
		font-style: italic;
		font-size: 11pt;
	}
}

.question-edit{
	position:relative;

	.imagebutton{
		position:absolute;
		right: 0px;
		top:0px;
	}
}

.label-input-label{
	position:absolute;
	bottom: 10px;
	left:-0px;
}

.question-control{
	position: absolute;
	top:0px;
	right:10px;

	.imagebutton{
		width: 24px;
		height: 24px;
		i{
			font-size: 22px;
		}
	}
}

.question-item{
	h3{
		margin: 20px 0px 20px 0px;
	}

	label{
		display: block;
		margin: 10px 10px 10px 0px;
	}

	input,textarea,select{
		width: 100%;
	}
}

.question-items-container{
	padding-top: 15px;
	margin: 0px 15px 0px 15px;
}

.label-input{
	width: 80%;
	margin-left: 5%;
	background-color: transparent;
	border-bottom: 1px dashed #aaa;

	&.half{
		width: 40%;
		margin-left: 5%;
	}
}