
$menuBG : #2a2c33;
$menuButtonSelected : #57dce4;


.main-menu{
	position: absolute;
	top:0;
	left:0px;
	width: auto;
	height: 100%;
	background-color: $menuBG;
	color: white;
	overflow: hidden;


	.imagebutton, .imagebutton.labeled{
		height: 19%;
		margin:0;
		padding:0;
		display: block;
		width: 200px;
		color: white;
		text-align: center;

		.image-wrapper{
			position: absolute;
			top:50%;
			margin-top: -70px;
			vertical-align: middle;
			width: 100%;
		}

		label{
			position: absolute;
			bottom: 25px;
		}


		&:hover{
			background-color: lighten($menuBG, 15);			
		}

		&.selected{
			background-color: $menuButtonSelected;
		}
	}

}