<div class="query-view">

	<div class="toolbar small-menu">
		<imagebutton image="ion-ios7-circle-filled" ng-click="addQuestion('radio')"></imagebutton>
		<imagebutton image="ion-ios7-checkmark-outline" ng-click="addQuestion('checkbox')"></imagebutton>
		<imagebutton image="ion-ios7-compose-outline" ng-click="addQuestion('text')"></imagebutton>
		<imagebutton image="ion-ios7-compose" ng-click="addQuestion('textarea')"></imagebutton>
	</div>

	<div class="query-inner-container">
		<div class="query">			
			<div class="input-group">
			    <h2 class="page-title" ng-if="!query.title">Ei nimeä</h2>
			    <h2 class="page-title" ng-if="query.title">{{query.title}}</h2>
		

				
			    <div class="input-field">
				    <label>Kyselyn nimi</label>
				    <input class="question-edit question-header" type="text" ng-model="query.title">
			    </div>
			
				<div class="input-field guide-text-container">
					<label>Ohjeteksti</label>
					<textarea ng-model="query.text" placeholder="ohjeteksti"></textarea>
				</div>
			</div>

		    <div class="questions-container input-group" ng-repeat="(questionIndex, question) in query.questions">
		    		
		        <question>
		    	
		    </div>
		</div>
	</div>
</div>