<div class="query-view">

	<toolbar></toolbar>

	<div class="container query">			
		<div class="input-group">
		    <h2 class="page-title" ng-if="!query.title">Ei nimeä</h2>
		    <h2 class="page-title" ng-if="query.title">{{query.title}}</h2>
	

			
		    <div class="input-field">
			    <label>Kyselyn nimi</label>
			    <input class="question-edit question-header" type="text" ng-model="query.title">
		    </div>
		
			<div class="input-field guide-text-container">
				<label>Ohjeteksti</label>
				<textarea ng-model="query.text" placeholder="ohjeteksti"></textarea>
			</div>
		</div>

	    <div class="questions-container input-group" ng-repeat="(questionIndex, question) in query.questions">
	    		
	        <question>
	    	
	    </div>

	</div>
</div>