<div class="query-view no-tools">
	<div class="container">
		<h2 class="page-title"><span>kysely</span>vehe</h2>
	
		<div class="login-window">
			<div class="login-fields-container">
				<i class="login-icon icon ion-ios7-contact-outline"></i>


				<input type="text" ng-model="user.name" placeholder="email@address.com">
				<input type="text" ng-model="user.password" placeholder="salasana">
			</div>

			<imagebutton ng-if="!user.level" image="ion-ios7-locked" ng-click="user.login()"></imagebutton>
			<imagebutton ng-if="user.level" image="ion-ios7-unlocked"></imagebutton>
			<div class="clear"></div>
		</div>
	</div>

</div>