<div class="main-menu">
	<imagebutton class="large" label="users" link="users" image="ion-ios7-contact-outline"></imagebutton>
	<div class="button-spacer"></div>
	<imagebutton class="large" label="create" link="create" image="ion-ios7-compose-outline"></imagebutton>
	<imagebutton class="large" label="setup" link="setup" image="ion-ios7-gear-outline"></imagebutton>
	<imagebutton class="large" label="stats" link="stats" image="ion-ios7-analytics-outline"></imagebutton>
	<div class="button-spacer"></div>
	<imagebutton class="large" label="help" link="help" image="ion-ios7-help-outline"></imagebutton>
</div>