<div class="main-menu toolbar">
	<imagebutton
		path="currentPath"
		label="home" 
		link="/" 
		image="ion-ios7-home-outline">
	</imagebutton>
	
	<imagebutton
		path="currentPath"
		label="users" 
		link="/users" 
		image="ion-ios7-contact-outline">
	</imagebutton>

	<imagebutton
		path="currentPath"
		label="create" 
		link="/create" 
		image="ion-ios7-compose-outline">
	</imagebutton>

	<imagebutton
		path="currentPath"
		label="setup" 
		link="/setup" 
		image="ion-ios7-gear-outline">
	</imagebutton>

	<imagebutton
		path="currentPath"
		label="stats" 
		link="/stats" 
		image="ion-ios7-analytics-outline">
	</imagebutton>
</div>