<ul class="main-menu">
	
	<a href="#/analytics">
		<li class="menu-item">
			<div class="menu-item-content">
				<i class="ion-ios7-analytics-outline"></i>
				<h4>Results</h4>
			</div>
		</li>
	</a>

	<a href="#/start">
		<li class="menu-item">
			<div class="menu-item-content">
					<i class="ion-ios7-plus-outline"></i>
					<h4>Start</h4>
			</div>
		</li>
	</a>

	<a href="#/edit">
		<li class="menu-item">
			<div class="menu-item-content">
				<i class="ion-ios7-compose-outline"></i>
				<h4>Edit</h4>
			</div>
		</li>
	</a>

	<a href="#/users">
		<li class="menu-item">
			<div class="menu-item-content">
				<i class="ion-ios7-contact-outline"></i>
				<h4>Users</h4>
			</div>
		</li>
	</a>

</ul>