<ul class="main-menu">
	
	<li class="menu-item">
		
		<div class="menu-item-content">
	<a href="#/create">
			<i class="ion-ios7-analytics-outline"></i>
			<h4>Analytics</h4>
	</a>
		</div>
	</li>

	<li class="menu-item">
		<div class="menu-item-content">
			<i class="ion-ios7-analytics-outline"></i>
			<h4>Analytics</h4>
		</div>
	</li>

	<li class="menu-item">
		<div class="menu-item-content">
			<i class="ion-ios7-analytics-outline"></i>
			<h4>Analytics</h4>
		</div>
	</li>

	<li class="menu-item">
		<div class="menu-item-content">
			<i class="ion-ios7-analytics-outline"></i>
			<h4>Analytics</h4>
		</div>
	</li>

</ul>