<div class="question question-field" id="{{question.name}}">
	
	<div class="editquestion" ng-if="edit">
		
		<div class="question-control">
			<imagebutton image="ion-ios7-minus-outline" ng-click="question.minimized = !question.minimized"></imagebutton>
			<imagebutton image="ion-ios7-compose-outline" ng-click="question.compose = !question.compose; question.minimized = false;"></imagebutton>
			<imagebutton image="ion-ios7-close-outline" ng-click="removeQuestion($index)"></imagebutton>			
		</div>
		
		<div class="question-main">
			
		
			<div class="title-container">		
				<h2 class="question-type"><span>{{question.type}}:</span>{{question.label}}</h2>
			</div>

			<div class="center" ng-if="question.minimized">		
				<div class="more icon" ng-click="question.minimized = false">
					<i class="ion ion-ios7-more-outline"></i>
				</div>
			</div>


			<div class="input-field" ng-if="question.compose && !question.minimized">
				<label for="question-label-edit-{{question.label}}-{{$index}}">Teksti</label>
				<input id="question-label-edit-{{question.label}}-{{$index}}" class="question-edit question-title" type="text" ng-model="question.label">
			</div>
			
			<div class="input-field" ng-if="question.compose && !question.minimized">
				<label for="question-name-edit-{{question.name}}-{{$index}}">Ohjeteksti</label>
				<textarea id="question-name-edit-{{question.name}}-{{$index}}" class="question-edit" type="text" ng-model="question.text"></textarea>
			</div>
		
		</div>

		<div class="question-items-container" ng-if="question.compose && !question.minimized" ng-class="question.type" >	
			
			<div class="question-edit question-{{question.type}}" ng-switch="question.type" ng-repeat="answer in question.answers">
				<checkbox ng-switch-when="checkbox" edit="edit" answer="answer"></checkbox>
				<radio ng-switch-when="radio" edit="edit" answer="answer" question="question"></radio>


				<label class="label-input-label" ng-if="question.type === 'text' || question.type==='textarea'">{{$index+1}}</label>
				<input class="label-input" ng-if="question.type === 'text' || question.type==='textarea'" placeholder="label" type="text" ng-model="answer.label">
				

				<imagebutton image="ion-ios7-close-outline" ng-click="removeAnswer(questionIndex, $index)"></imagebutton>
			</div>

			<div class="center question-tools-container">
				<imagebutton image="ion-ios7-plus-outline" ng-click="addAnswer($index)"></imagebutton>
			</div>		
		</div>

	
	</div>


	<div class="question-wrapper question-item" ng-if="!question.compose && !question.minimized">
	
		<h3>{{question.label}}</h3>
		
		<div class="question-textcontainer">		
			<p ng-if="question.text">{{question.text}}</p>
		</div>

		<div class="question-items-container" ng-class="question.type">		
			<div class="question-item question-{{question.type}}" ng-switch="question.type" ng-repeat="answer in question.answers">
				<checkbox ng-switch-when="checkbox" answer="answer"></checkbox>
				<radio ng-switch-when="radio" answer="answer" question="question"></radio>

				<label ng-if="question.type === 'text' || question.type==='textarea'">{{answer.label}}</label>
				<textarea ng-model="answer.value" ng-switch-when="textarea" placeholder="{{answer.label}}"></textarea>
				<input type="text" ng-model="answer.value" ng-switch-when="text" placeholder="{{answer.label}}"></text>
			</div>	
		</div>		
	</div>

</div>