<div class="tool-wrapper">
		
	<a  ng-if="tool.link" href="#{{tool.link}}">

		<div class="item-wrapper">
			
			<i ng-if="tool.image" class="icon ion-ios7-{{tool.image}}"></i>
			
			<div class="item-text">
				<h4>{{tool.name}}</h4>
				<p>{{tool.description}}</p>
			</div>

			
		</div>
	</a>


	<div class="item-wrapper" ng-if="!tool.link" ng-click="toolAction(tool.action,tool.data);">
		<i ng-if="tool.image && !tool.link" class="icon ion-ios7-{{tool.image}}"></i>
		
		<div class="item-text">
			<h4>{{tool.name}}</h4>
			<p>{{tool.description}}</p>
		</div>
	</div>

</div>